mkdocs==1.4.3
mkdocs-material==9.1.12
mkdocs-blogging-plugin==2.2.5
mkdocs-macros-plugin==0.7.0
mkdocs-section-index==0.3.5
mkdocs-glightbox==0.3.4
mkdocs-autorefs==0.4.1
mkdocs-section-index==0.3.5
numkdoc==0.4.1
mkdocs-video==1.5.0
